.aboutMenu {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.aboutText {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 80%;
}
  
  
  @media (max-width: 768px) {
    .about {
      padding: 0rem 1.25rem 0rem 1.25rem;
      gap: 1.5rem;
    }
  
    .aboutHeadline {
      aspect-ratio: 3.018;
      border-radius: 10px;
  
      .aboutHeadlineBackground {
        height: 100%;
      }
    }
  
    .aboutMenu {
      width: 100%;

      @media (max-width  : 425px) {
        gap: 25px;
        margin-bottom: 25px;
      }

    }
  }
